@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.appartements {
font-family: Montserrat;
list-style-type: none;


&__collapse-container {
display: flex;
gap: 5%;
justify-content: space-between;


}




}