@import "../styles/variables.scss";

.notfound {
  &__picture {
    width: 600px;
    height: 220px;
    margin: 0 auto;
    margin-top: 80px;
  }

  &__text {
    margin-top: 70px;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 36px;
    line-height: 143%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: $primary-color;
    margin-bottom: 70px;
  }

  &__backlink--wrapper {
    text-decoration: underline;
    font-family: $primary-font;

    margin-bottom: 100px;
  }

  &__backlink:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
