@import "../styles/variables.scss";

.footer {
  background: #000000;
  text-align: center;
  margin-top: 20px;
 /* max-width: 99.6vw; */
  width: 100%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: absolute;
  left: 50%;
  right: 50%;
  height: 250px;
  padding: 30px;
 

  &__logo {
    width: 122px;
    height: 39.444419860839844px;
    top: 66px;
    left: 659px;
    display: inline-block;
    margin-top: 40px;
  }
  &__credits {
    color: white;
    text-align: center;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 40px;
  }
}
   @media (max-width: 768px) {
    .footer {
   width: 100%;
 
    }

   }
