@use "../styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 68px;
  width: 100%;



  &__nav {
    display: flex;
    gap: 60px;
    vertical-align: bottom;
  }
}

nav a {
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;
  color: inherit;
  margin-top: 30px;
  white-space: nowrap;
}

nav a.active {
  text-decoration: underline;
  cursor:auto;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 20px;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 0;
    

    &__nav {
      display: flex;
      vertical-align: bottom;
      gap: 40px;
    }

      &__kasa--logo {
      width: 80%;
    }
  }

  nav a {
    font-size: 15px;
    flex-wrap: nowrap;
    text-transform: uppercase;
    margin-top: 15px;
    line-height: 143%;
  }
}
