@import "../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1270px;
  height: 68px;

  &__nav {
    display: flex;
    gap: 60px;
    vertical-align: bottom;
  }
}

a {
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;
  color: inherit;
  margin-top: 30px;
}

nav a.active {
  text-decoration: underline;
}
