@import "../styles/variables.scss";

.ratings {
&__wrapper {
    display: flex;
    justify-content: end;
    gap: 6%;
    padding-bottom: 0;
    margin-top: 10px;
}

    &__star {
color: #E3E3E3;
width: 26px;
height: 26px;
}

}

